{% if app.request.attributes.get('_route') starts with 'application' %}
    <a href="{{ path('application_add') }}"
       class="list-group-item {% if app.request.attributes.get('_route') == 'application_add' %}active{% endif %}">Dodaj aplikację</a>
    <a href="{{ path('application_ip_addresses') }}"
       class="list-group-item {% if app.request.attributes.get('_route') == 'application_ip_addresses' %}active{% endif %}">Adresy IP</a>
    <a href="{{ path('application_generate_codes') }}"
       class="list-group-item {% if app.request.attributes.get('_route') == 'application_generate_codes' %}active{% endif %}">Generuj kody</a>
{% endif %}

{% if app.request.attributes.get('_route') starts with 'activity' %}
    <a href="{{ path('activity_add') }}"
       class="list-group-item {% if app.request.attributes.get('_route') == 'activity_add' %}active{% endif %}">Dodaj aktywność (formularz)</a>
    <a href="{{ path('activity_add_data') }}"
       class="list-group-item {% if app.request.attributes.get('_route') == 'activity_add_data' %}active{% endif %}">Dodaj dane do aktywnosci</a>
    <a href="{{ path('activity_data') }}"
       class="list-group-item {% if app.request.attributes.get('_route') == 'activity_data' %}active{% endif %}">Pola
        aktywności</a>
    <a href="{{ path('activity_export') }}"
       class="list-group-item {% if app.request.attributes.get('_route') == 'activity_export' %}active{% endif %}">Eksport
        aktywności do CRM</a>
{% endif %}

{% if app.request.attributes.get('_route') starts with 'document' %}
    <a href="{{ path('document_for_agency') }}"
       class="list-group-item {% if app.request.attributes.get('_route') == 'document_for_agency' %}active{% endif %}">Dokument dla agencji</a>
{% endif %}