{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="insert_appliciation">
        <div class="row">
            <div class="col-sm-2">brand_set_id: </div>
            <div class="col-sm-4"><input type="number" id="brand_set_id"/></div>
        </div>
        <div class="row">
            <div class="col-sm-2">company_id: </div>
            <div class="col-sm-4"><input type="number" id="company_id"/></div>
        </div>
        {#<div class="row">#}
            {#<div class="col-sm-2">campaign_id: </div>#}
            {#<div class="col-sm-4"><input type="text" id="campaign_id" value="null"></div>#}
        {#</div>#}
        <div class="row">
            <div class="col-sm-2">name: </div>
            <div class="col-sm-4"><input type="text" id="name"/></div>
        </div>
        <div class="row">
            <div class="col-sm-2">description: </div>
            <div class="col-sm-4"><input type="text" id="description"/></div>
        </div>
        <div class="row">
            <div class="col-sm-2">app_id: </div>
            <div class="col-sm-4"><input type="text" id="app_id"/></div>
        </div>
        <div class="row">
            <div class="col-sm-2">public_key: </div>
            <div class="col-sm-4"><input type="text" id="public_key" disabled value="{{ password_generator.generate().getPassword() }}"/></div>
        </div>
        <div class="row">
            <div class="col-sm-2">admin_key: </div>
            <div class="col-sm-4"><input type="text" id="admin_key" disabled value="{{ password_generator.generate().getPassword() }}"/></div>
        </div>

        <div class="row">
            <button id="insert_application">OK</button>
        </div>

    </div>

    <div class="container" id="insert_appliciation_ips">
        <hr />
        {#<div class="row">#}
            {#<div class="col-sm-2">public_key: </div>#}
            {#<div class="col-sm-4"><input type="text" id="public_key" disabled value="{{ password_generator.generate().getPassword() }}"/></div>#}
        {#</div>#}
        {#<div class="row">#}
            {#<div class="col-sm-2">admin_key: </div>#}
            {#<div class="col-sm-4"><input type="text" id="admin_key" disabled value="{{ password_generator.generate().getPassword() }}"/></div>#}
        {#</div>#}

        {#<div class="row">#}
            {#<button id="insert_application_ips">OK</button>#}
        {#</div>#}
    </div>

    <div class="row">
        <hr />
        <h2>Insert Application</h2>
        <textarea class="col-sm-12" id="sql1"></textarea>
    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $('button#insert_application').click(function () {

                wynik = 'INSERT INTO `gmind_esb`.`applications` (`brand_set_id`, `company_id`, `campaign_id`, `name`, `description`, `app_id`, `public_key`, `admin_key`, `order`, `active`, `created` ) VALUES ( '
                        + $('#brand_set_id').val() + ', '
                        + $('#company_id').val() + ', null, "'
                        + $('#name').val() + '", "'
                        + $('#description').val() + '", "'
                        + $('#app_id').val() + '", "'
                        + $('#public_key').val() + '", "'
                        + $('#admin_key').val() + '", '
                        + ' 1, 1, CURRENT_TIMESTAMP ); ';
                $('#sql1').val(wynik);
                $('div#insert_appliciation input').attr('disabled', 'disabled');
                $('div#insert_appliciation button').attr('disabled', 'disabled');
            });

            $('button#insert_application_ips').click(function () {

                wynik = 'INSERT INTO `gmind_esb`.`applications` (`brand_set_id`, `company_id`, `campaign_id`, `name`, `description`, `app_id`, `public_key`, `admin_key`, `order`, `active`, `created` ) VALUES ( '
                        + $('#brand_set_id').val() + ', '
                        + $('#company_id').val() + ', null, "'
                        + $('#name').val() + '", "'
                        + $('#description').val() + '", "'
                        + $('#app_id').val() + '", "'
                        + $('#public_key').val() + '", "'
                        + $('#admin_key').val() + '", '
                        + ' 1, 1, CURRENT_TIMESTAMP ); ';
                $('#sql1').val(wynik);
                $('div#insert_appliciation input').attr('disabled', 'disabled');
                $('div#insert_appliciation button').attr('disabled', 'disabled');
            });
        });
    </script>
{% endblock %}